@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Bold.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Bold.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Bold.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-BoldItalic.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-BoldItalic.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Semibold.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Semibold.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Semibold.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-SemiboldItalic.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-SemiboldItalic.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Regular.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Regular.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Regular.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Italic.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Italic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Italic.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.svg#Athletics-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.svg#Athletics-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.svg#Athletics-Medium") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.svg#Athletics-MediumItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.svg#Athletics-Italic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.svg#Athletics-Regular") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
div.zero-shot {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  -moz-column-gap: 1.5vw;
       column-gap: 1.5vw;
}

div.property {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}

div.imagenet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}
div.imagenet div {
  padding: 1.5vh 0;
}

div.label {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  row-gap: 5px;
}
div.label img {
  width: 100%;
}

div.fine-tuned {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
}

div.caption {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.caption-1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}

div.caption-2 {
  display: grid;
}
div.caption-2 .caption-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 769px) {
  div.fine-tuned {
    grid-template-columns: 1fr;
    row-gap: 2vh;
  }
  div.imagenet {
    display: grid;
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=prismer.css.map */