@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Bold.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Bold.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Bold.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-BoldItalic.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-BoldItalic.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Semibold.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Semibold.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Semibold.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-SemiboldItalic.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-SemiboldItalic.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Regular.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Regular.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Regular.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Italic.eot");
  src: url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Italic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Italic.woff") format("woff"), url("https://shikun.io/assets/fonts/Tiempos/TiemposText-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Bold.svg#Athletics-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-BoldItalic.svg#Athletics-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Medium.svg#Athletics-Medium") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-MediumItalic.svg#Athletics-MediumItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Italic.svg#Athletics-Italic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.eot");
  src: url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.eot?#iefix") format("embedded-opentype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.woff2") format("woff2"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.woff") format("woff"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.ttf") format("truetype"), url("https://shikun.io/assets/fonts/Athletics/Athletics-Regular.svg#Athletics-Regular") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, code, pre, ol, ul, li {
  color: #353535;
  line-height: 1.6;
  font-weight: 300;
  font-size: 18px;
  font-family: "Athletics", serif;
}

a {
  text-underline-offset: 1px;
  color: inherit;
  font-family: inherit;
}
a:hover {
  color: inherit;
}

b {
  font-weight: 600;
}

em {
  font-style: italic;
}

sub {
  font-weight: inherit;
  font-size: 0.65em;
  position: relative;
  top: 0.3em;
}

sup {
  font-weight: inherit;
  font-size: 0.65em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
hr.hard {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
hr.soft {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

svg {
  width: 100%;
}

.container {
  padding-right: calc(6vw - (100vw - 100%));
  padding-left: 6vw;
  flex: 1;
}

::-moz-selection {
  color: white;
  background: #353535;
}

::selection {
  color: white;
  background: #353535;
}

@media screen and (max-width: 769px) {
  a, p, td, th, tr, code, pre, ol, ul, li, div {
    font-size: 15px;
  }
  h1 {
    font-size: 24px;
    line-height: 1.2;
    padding: 1.5vh 0;
    font-weight: 700;
  }
  h1.title {
    font-weight: 500;
    font-size: 30px;
  }
  h2 {
    line-height: 1.2;
    padding: 1.5vh 0;
    font-weight: 700;
    font-size: 18px;
  }
  h3 {
    font-weight: 700;
    line-height: 1.2;
    padding: 1.5vh 0;
    font-size: 17px;
  }
}
@media screen and (min-width: 769px) {
  .container {
    padding-right: calc(8.5vw - (100vw - 100%));
    padding-left: 8.5vw;
  }
  a, p, td, th, tr, code, pre, ol, ul, li, div {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
    line-height: 1.2;
    padding: 2vh 0;
    font-weight: 700;
  }
  h1.title {
    padding: 0 0 1vh;
    font-weight: 500;
    font-size: 30px;
  }
  h2 {
    line-height: 1.2;
    padding: 2vh 0;
    font-weight: 700;
    font-size: 18px;
  }
  h3 {
    font-weight: 700;
    line-height: 1.2;
    padding: 2vh 0;
    font-size: 17px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    padding-right: calc(12vw - (100vw - 100%));
    padding-left: 12vw;
  }
  a, p, td, th, tr, code, pre, ol, ul, li, div {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
    line-height: 1.2;
    padding: 1vh 0;
    font-weight: 700;
  }
  h1.title {
    padding: 0 0 1vh;
    font-weight: 500;
    font-size: 30px;
  }
  h2 {
    line-height: 1.2;
    padding: 1vh 0;
    font-weight: 700;
    font-size: 18px;
  }
  h3 {
    font-weight: 700;
    line-height: 1.2;
    padding: 1vh 0;
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-right: calc(15vw - (100vw - 100%));
    padding-left: 15vw;
  }
  a, p, td, th, tr, code, pre, ol, ul, li, div {
    font-size: 17px;
  }
  h1 {
    font-size: 36px;
    line-height: 1.2;
    padding: 1vh 0;
    font-weight: 700;
  }
  h1.title {
    padding: 0 0 1vh;
    font-weight: 500;
    font-size: 36px;
  }
  h2 {
    line-height: 1.2;
    padding: 1vh 0;
    font-weight: 700;
    font-size: 24px;
  }
  h3 {
    font-weight: 700;
    line-height: 1.2;
    padding: 1vh 0;
    font-size: 18px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    padding-right: calc(18vw - (100vw - 100%));
    padding-left: 18vw;
  }
  a, p, td, th, tr, code, pre, ol, ul, li, div {
    font-size: 18px;
  }
  h1 {
    font-size: 36px;
    line-height: 1.2;
    padding: 1.75vh 0;
    font-weight: 700;
  }
  h1.title {
    padding: 0 0 1vh;
    font-weight: 500;
    font-size: 42px;
  }
  h2 {
    line-height: 1.2;
    padding: 1.5vh 0;
    font-weight: 700;
    font-size: 24px;
  }
  h3 {
    font-weight: 700;
    line-height: 1.2;
    padding: 1.5vh 0;
    font-size: 18px;
  }
}
@media screen and (min-width: 2400px) {
  .container {
    padding-right: calc(24vw - (100vw - 100%));
    padding-left: 24vw;
  }
  a, p, td, th, tr, code, pre, ol, ul, li, div {
    font-size: 20px;
  }
  h1 {
    font-size: 36px;
    line-height: 1.2;
    padding: 1.75vh 0;
    font-weight: 700;
  }
  h1.title {
    padding: 0 0 1vh;
    font-weight: 500;
    font-size: 42px;
  }
  h2 {
    line-height: 1.2;
    padding: 1.5vh 0;
    font-weight: 700;
    font-size: 24px;
  }
  h3 {
    font-weight: 700;
    line-height: 1.2;
    padding: 1.5vh 0;
    font-size: 20px;
  }
}
@media screen and (min-width: 3000px) {
  .container {
    padding-right: calc(28vw - (100vw - 100%));
    padding-left: 28vw;
  }
}
div.nav-bar {
  background-color: transparent;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 9999;
}
div.nav-bar .nav-container-small {
  display: none;
}
div.nav-bar .nav-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 25vw;
       column-gap: 25vw;
  padding: 2vh 0px;
}
div.nav-bar .nav-container .menu {
  display: flex;
  justify-content: space-between;
}
div.nav-bar .nav-container .menu#menu-white ::-moz-selection {
  color: #353535 !important;
  background: #f4f3ef !important;
}
div.nav-bar .nav-container .menu#menu-white ::selection {
  color: #353535 !important;
  background: #f4f3ef !important;
}
div.nav-bar .nav-container .menu a {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  font-size: 24px;
  font-family: "Athletics", sans-serif;
}
div.nav-bar .nav-container .menu a:hover {
  text-decoration: underline;
  color: inherit;
}
div.nav-bar .nav-container .menu a.active {
  text-decoration: underline;
  color: inherit;
}
div.nav-bar .nav-container .social {
  display: flex;
  justify-content: space-between;
  color: inherit;
}
div.nav-bar .nav-container .social .icon a {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
}

.menu-bar {
  display: inline-block;
  color: #353535;
}
.menu-bar .menu-default {
  cursor: pointer;
  padding: 5vh 1vh 5vh 0vh;
  width: 36px;
  height: 36px;
  outline: none;
  position: relative;
  border: none;
  background: none;
}
.menu-bar .menu-default svg {
  width: 200px;
  height: 50px;
  stroke: #353535;
  stroke-width: 2px;
  color: #353535;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
  position: absolute;
}
.menu-bar .menu-default svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  transform: translateZ(0);
}
.menu-bar .menu-default svg path:nth-child(2) {
  --duration: .7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px;
}
.menu-bar .menu-default svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px;
}
.menu-bar .menu-default.active svg path {
  --offset: 57px;
}
.menu-bar .menu-default.active svg path:nth-child(1), .menu-bar .menu-default.active svg path:nth-child(3) {
  --delay: .15s;
  --easing: cubic-bezier(.2, .4, .2, 1.1);
}
.menu-bar .menu-default.active svg path:nth-child(2) {
  --duration: .4s;
  --offset: 2px;
  --array-1: 1px;
}
.menu-bar .menu-default.active svg path:nth-child(3) {
  --offset: 58px;
}

@media screen and (max-width: 769px) {
  #first-content {
    padding-top: calc(8vh + 6px);
  }
  div.nav-bar {
    position: fixed;
    background-color: white !important;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  div.nav-bar .nav-container {
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr;
    padding-left: inherit;
    padding-right: inherit;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    transform: translateX(-100%);
  }
  div.nav-bar .nav-container.slide-in {
    animation: slide-in 0.6s forwards;
  }
  div.nav-bar .nav-container.slide-in.first {
    animation: none !important;
  }
  div.nav-bar .nav-container.slide-out {
    animation: slide-out 0.6s forwards;
  }
  @keyframes slide-out {
    100% {
      transform: translateX(0%);
    }
  }
  @keyframes slide-in {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  div.nav-bar .nav-container .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
  }
  div.nav-bar .nav-container .menu a {
    color: #353535 !important;
    padding: 4vh 0;
    font-size: 24px;
  }
  div.nav-bar .nav-container .menu a.active {
    color: #353535 !important;
    text-decoration: underline;
  }
  div.nav-bar .nav-container .social {
    display: flex;
    justify-content: space-around;
  }
  div.nav-bar .nav-container .social .icon a {
    padding: 1vh;
    color: #353535 !important;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
  }
  div.nav-bar .nav-container-small {
    display: block;
  }
  div.nav-bar .nav-container-small .menu-bar {
    position: block;
  }
}
@media screen and (min-width: 769px) {
  #first-content {
    padding-top: calc(8vh + 27px);
  }
  div.nav-bar .nav-container {
    padding: 4vh 0px;
  }
  div.nav-bar .nav-container .menu a {
    font-size: 17px;
  }
  div.nav-bar .nav-container .social .icon a {
    font-size: 17px;
  }
}
@media screen and (min-width: 992px) {
  #first-content {
    padding-top: calc(10vh + 27px);
  }
  div.nav-bar .nav-container {
    padding: 5vh 0px;
  }
  div.nav-bar .nav-container .menu a {
    font-size: 17px;
  }
  div.nav-bar .nav-container .social .icon a {
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  #first-content {
    padding-top: calc(12vh + 28px);
  }
  div.nav-bar .nav-container {
    padding: 6vh 0px;
  }
  div.nav-bar .nav-container .menu a {
    font-size: 18px;
  }
  div.nav-bar .nav-container .social .icon a {
    font-size: 18px;
  }
}
@media screen and (min-width: 2400px) {
  #first-content {
    padding-top: calc(12vh + 32px);
  }
  div.nav-bar .nav-container {
    padding: 6vh 0px;
  }
  div.nav-bar .nav-container .menu a {
    font-size: 20px;
  }
  div.nav-bar .nav-container .social .icon a {
    font-size: 20px;
  }
}
div.page-title {
  padding-bottom: 2vh;
}

@media screen and (min-width: 769px) {
  div.page-title {
    padding-bottom: 2vh;
  }
  div.page-title h1 {
    padding-bottom: 3vh;
  }
}
@media screen and (min-width: 1200px) {
  div.page-title {
    padding-bottom: 2vh;
  }
  div.page-title h1 {
    padding-bottom: 3vh;
  }
}
@media screen and (min-width: 1600px) {
  div.page-title {
    padding-bottom: 2vh;
  }
  div.page-title h1 {
    padding-bottom: 3vh;
  }
}
div.section-title {
  padding: 1vh 0px;
}
div.section-title h2, div.section-title a {
  padding: 0;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  font-family: "Athletics", serif !important;
  font-weight: bold !important;
  font-size: 15px !important;
}
div.section-title a {
  cursor: pointer;
}
div.section-title a.active {
  text-decoration: underline;
}
div.section-title a.notactive {
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  div.section-title {
    padding: 2vh 0px;
  }
  div.section-title h2, div.section-title a {
    font-size: 17px !important;
  }
}
@media screen and (min-width: 1200px) {
  div.section-title {
    padding: 3vh 0px;
  }
  div.section-title h2, div.section-title a {
    font-size: 18px !important;
  }
}
span.info {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 85%;
}

div.project-page h3 {
  padding-top: 0;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: 700;
  font-family: "Athletics", serif;
}

div.project-block {
  padding: 1.5vh 0 0.5vh;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1vh;
}
div.project-block div.project-container .project-cover {
  background-size: 80% auto;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 125%;
  transition: all 0.6s ease-in-out;
  transform: rotate(0.0001deg);
}
div.project-block div.project-container .project-cover:hover {
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s ease-in-out;
  transform: scale(1.01, 1.01) rotate(0.0001deg);
}
div.project-block div.project-container .project-cover:hover::after {
  opacity: 1;
}
div.project-block div.project-container .project-cover::after {
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.6s cease-in-out;
}
div.project-block div.project-container .project-info {
  padding: 10px 0px 25px;
}
div.project-block div.project-container .project-info .project-title {
  padding: 0;
}
div.project-block div.project-container .project-info .project-title a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  font-family: "Athletics", serif;
}
div.project-block div.project-container .project-info .project-title a:hover {
  text-decoration: underline;
}
div.project-block div.project-container .project-info p {
  line-height: 1.2;
  font-size: 15px;
  font-weight: 500;
  font-family: "Athletics", sans-serif;
}

@media screen and (min-width: 769px) {
  div.project-page h3 {
    font-size: 17px;
  }
  div.project-block {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
    row-gap: 2vh;
    padding-bottom: 1vh;
  }
  div.project-block div.project-container .project-info .project-title a {
    font-size: 17px;
  }
  div.project-block div.project-container .project-info p {
    font-size: 15px;
  }
}
@media screen and (min-width: 992px) {
  div.project-page h3 {
    font-size: 18px;
  }
  div.project-block {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 2.5vw;
         column-gap: 2.5vw;
    row-gap: 2vh;
    padding-bottom: 1vh;
  }
  div.project-block div.project-container .project-info .project-title a {
    font-size: 18px;
  }
  div.project-block div.project-container .project-info p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  div.project-page h3 {
    font-size: 18px;
  }
  div.project-block {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 2.5vw;
         column-gap: 2.5vw;
    row-gap: 1.5vh;
    padding-bottom: 2vh;
  }
  div.project-block div.project-container .project-info .project-title a {
    font-size: 18px;
  }
  div.project-block div.project-container .project-info p {
    font-size: 15px;
  }
}
@media screen and (min-width: 1600px) {
  div.project-page h3 {
    font-size: 24px;
  }
  div.project-block {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 3vw;
         column-gap: 3vw;
    row-gap: 1.5vh;
    padding-bottom: 2vh;
  }
  div.project-block div.project-container .project-info .project-title a {
    font-size: 24px;
  }
  div.project-block div.project-container .project-info p {
    font-size: 17px;
  }
}
@media screen and (min-width: 1900px) {
  div.project-block {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -moz-column-gap: 1.5vw;
         column-gap: 1.5vw;
    row-gap: 1.5vh;
    padding-bottom: 2vh;
  }
  div.project-block div.project-container .project-info .project-title a {
    font-size: 24px;
  }
  div.project-block div.project-container .project-info p {
    font-size: 16px;
  }
}
@media screen and (min-width: 2400px) {
  div.project-block {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -moz-column-gap: 1vw;
         column-gap: 1vw;
    row-gap: 1.5vh;
    padding-bottom: 2vh;
  }
  div.project-block div.project-container .project-info .project-title a {
    font-size: 24px;
  }
  div.project-block div.project-container .project-info p {
    font-size: 18px;
  }
}
#publication .section-title {
  padding-bottom: 0.5vh;
}

div.paper-page {
  padding-bottom: 2vh;
}
div.paper-page .paper-container {
  padding: 0.5vh 0px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
div.paper-page .paper-container .paper-conference p {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #353535;
  line-height: 1.4;
}
div.paper-page .paper-container .paper-info p {
  font-size: 15px;
  line-height: 1.4;
}
div.paper-page .paper-container .paper-info p b {
  font-weight: 700;
}
div.paper-page .paper-container .paper-info a {
  text-decoration: none;
}
div.paper-page .paper-container .paper-info a:hover {
  opacity: 0.8;
}
div.paper-page .paper-container .paper-info a:active {
  opacity: 0.5;
}

@media screen and (min-width: 769px) {
  div.paper-page {
    padding-bottom: 4vh;
  }
  div.paper-page .paper-container {
    padding: 0.5vh 0px;
    grid-template-columns: 1fr;
  }
  div.paper-page .paper-container .paper-conference p {
    line-height: 1.6;
    font-size: 15px;
    letter-spacing: 1px;
  }
  div.paper-page .paper-container .paper-info p {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  div.paper-page {
    padding-bottom: 4vh;
  }
  div.paper-page .paper-container {
    padding: 0.5vh 0px;
    grid-template-columns: 1fr;
  }
  div.paper-page .paper-container .paper-conference p {
    line-height: 1.6;
    font-size: 15px;
    letter-spacing: 1px;
  }
  div.paper-page .paper-container .paper-info p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  div.paper-page {
    padding-bottom: 4vh;
  }
  div.paper-page .paper-container {
    padding: 0.5vh 0px;
    grid-template-columns: 1fr 4fr;
  }
  div.paper-page .paper-container .paper-conference p {
    font-size: 15px;
    letter-spacing: 1px;
  }
  div.paper-page .paper-container .paper-info p {
    font-size: 17px;
  }
}
@media screen and (min-width: 1600px) {
  div.paper-page {
    padding-bottom: 4vh;
  }
  div.paper-page .paper-container {
    padding: 0.5vh 0px;
    grid-template-columns: 1fr 4fr;
  }
  div.paper-page .paper-container .paper-conference p {
    font-size: 17px;
    letter-spacing: 1px;
  }
  div.paper-page .paper-container .paper-info p {
    font-size: 17px;
  }
}
@media screen and (min-width: 2400px) {
  div.paper-page {
    padding-bottom: 4vh;
  }
  div.paper-page .paper-container {
    padding: 0.5vh 0px;
    grid-template-columns: 1fr 4fr;
  }
  div.paper-page .paper-container .paper-conference p {
    font-size: 18px;
    letter-spacing: 1px;
  }
  div.paper-page .paper-container .paper-info p {
    font-size: 20px;
  }
}
div.about-container {
  display: grid;
  grid-template-columns: 1fr;
}
div.about-container .about-intro {
  padding: 1vh 0;
}
div.about-container .about-intro p {
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.8;
}
div.about-container .about-content {
  padding-bottom: 2.5vh;
}
div.about-container .about-content p {
  font-weight: 300;
}

@media screen and (min-width: 769px) {
  div.about-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
  div.about-container .about-intro {
    padding-top: 0;
    padding-bottom: 2.5vh;
  }
  div.about-container .about-content {
    padding-bottom: 2.5vh;
  }
}
div.home-container {
  position: block;
  padding-bottom: 5vh;
  display: grid;
  left: 0;
  right: 0;
  top: 10vh;
  grid-template-columns: 1fr;
  row-gap: 10vw;
}
div.home-container .home-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.home-container .home-intro p {
  padding: 1vh 0;
}
div.home-container .home-profile img {
  width: 100%;
}

@media screen and (min-width: 769px) {
  div.home-container {
    position: block;
    display: grid;
    padding: 10vh 0;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
  div.home-container .home-intro p {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  div.home-container {
    -moz-column-gap: 10vw;
         column-gap: 10vw;
  }
}
@media screen and (min-width: 1900px) {
  div.home-container {
    -moz-column-gap: 14vw;
         column-gap: 14vw;
  }
}
footer {
  padding: 3vh 0px;
  background-color: #fafafa;
}
footer span {
  padding: 0 1px;
  font-size: 0.85em;
}

@media screen and (min-width: 992px) {
  footer {
    padding: 3vh 0px;
    background-color: #fafafa;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    padding: 4vh 0px;
    background-color: #fafafa;
  }
}
@media screen and (min-width: 1600px) {
  footer {
    padding: 5vh 0px;
  }
}
/* ======================== 404 ===================== */
div.not-found-container {
  display: grid;
  justify-content: center;
  justify-items: center;
}
div.not-found-container h1 {
  padding-bottom: 0;
  font-size: 15vw;
}
div.not-found-container p {
  padding-bottom: 2vh;
  font-size: 1.5vw;
}
div.not-found-container a {
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: smaller;
  font-weight: 700;
}
div.not-found-container a:hover {
  opacity: 0.8;
}

/* ======================== Blog ===================== */
div.container.blog#first-content {
  background-color: #f6f6f6;
}
div.container.blog#first-content div.blog-title {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 50vh;
}
div.container.blog#first-content div.blog-title.white * {
  color: white;
}
div.container.blog#first-content div.blog-title.white *::-moz-selection {
  color: #353535 !important;
  background: white !important;
}
div.container.blog#first-content div.blog-title.white *::selection {
  color: #353535 !important;
  background: white !important;
}
div.container.blog#first-content div.blog-title.white * .link * {
  color: #f4f3ef !important;
}
div.container.blog#first-content div.blog-title.white * .info p {
  color: #f4f3ef !important;
}
div.container.blog#first-content div.blog-title .blog-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 0;
}
div.container.blog#first-content div.blog-title .blog-intro p {
  font-weight: 500;
  padding: 1vh 0;
}
div.container.blog#first-content div.blog-title .blog-intro p.author {
  padding: 4px 0;
  font-weight: 500;
  font-style: italic;
  line-height: 1.2;
}
div.container.blog#first-content div.blog-title .blog-intro div {
  padding-bottom: 1.5vh;
}
div.container.blog#first-content div.blog-title .blog-intro .info p {
  padding: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #353535;
  font-weight: 600;
  font-size: 0.95em;
}
div.container.blog#first-content div.blog-title .blog-cover {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3vh 0;
}
div.container.blog#first-content div.blog-title .blog-cover img.foreground {
  position: relative;
  z-index: 2;
}
div.container.blog#first-content div.blog-title .blog-cover img.background {
  position: absolute;
  z-index: 1;
  filter: blur(24px);
}

div.container.blog p.text {
  padding: 1.5vh 0;
  font-family: "Tiempos Text", sans-serif;
}
div.container.blog p.text:last-child {
  padding-bottom: 0;
}
div.container.blog ul, div.container.blog ol {
  padding: 0;
}
div.container.blog ul li p.text, div.container.blog ol li p.text {
  padding: 0vh 0 1.5vh 0 !important;
}
div.container.blog ul li:last-child p.text, div.container.blog ol li:last-child p.text {
  padding-bottom: 0 !important;
}
div.container.blog p.caption {
  padding: 1vh 0;
  font-weight: 500;
  line-height: 1.2;
  font-size: 85%;
}
div.container.blog p.caption a {
  font-size: inherit;
  color: inherit;
}
div.container.blog p.caption.inline {
  padding: 0.5vh 0;
  font-style: italic;
}
div.container.blog p.caption.inline.center {
  text-align: center;
}
div.container.blog p.caption.comment {
  padding: 0 2vw 1vh;
}
div.container.blog p.caption.selection {
  line-height: 1;
}
div.container.blog img {
  padding-bottom: 1vh;
}
div.container.blog.first {
  margin-top: 1.5vh;
}
div.container.blog.main {
  padding: 0.5vh 6vw;
}
div.container.blog.main.comment .content-comment {
  display: none;
}
div.container.blog.main.inline {
  padding-top: 0;
  padding-bottom: 1vh;
}
div.container.blog.large {
  padding: 0.5vh 6vw;
}
div.container.blog.large.inline {
  padding-top: 0;
  padding-bottom: 1vh;
}
div.container.blog.extra-large {
  padding: 0.5vh 6vw;
}
div.container.blog.extra-large.inline {
  padding-top: 0;
  padding-bottom: 1vh;
}
div.container.blog.gray {
  background-color: #f6f6f6;
}
div.container.blog.gray p.caption {
  padding-bottom: 0;
}
div.container.blog.gray_linear {
  background: linear-gradient(to bottom, #f6f6f6 0%, white 10%, white 90%, #f6f6f6 100%);
}
div.container.blog.gray_linear p.caption {
  padding-bottom: 0;
}

@media screen and (min-width: 769px) {
  div.container.blog#first-content div.blog-title {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
    grid-template-columns: 1.2fr 1fr !important;
  }
  div.container.blog#first-content div.blog-title .blog-cover {
    margin: 0 0 0 auto;
    width: 90%;
  }
  div.container.blog#first-content div.blog-title .blog-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 0;
  }
  div.container.blog#first-content div.blog-title .blog-intro p {
    font-weight: 500;
  }
  div.container.blog#first-content div.blog-title .blog-cover {
    padding: 3vh 0;
  }
  div.container.blog.first {
    margin-top: 2vh;
  }
  div.container.blog.main {
    padding: 1vh 15vw;
  }
  div.container.blog.main.comment {
    padding-left: 15vw;
    padding-right: 0vw;
    display: grid;
    grid-template-columns: 70vw 13vw;
  }
  div.container.blog.main.comment .content-comment {
    display: none;
  }
  div.container.blog.large {
    padding: 1vh 10vw;
  }
  div.container.blog.extra-large {
    padding: 1vh 8vw;
  }
}
@media screen and (min-width: 992px) {
  div.container.blog#first-content div.blog-title {
    grid-template-columns: 1fr 1fr;
    grid-row: 75vh;
    -moz-column-gap: 3vw;
         column-gap: 3vw;
  }
  div.container.blog#first-content div.blog-title .blog-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vh 0;
  }
  div.container.blog#first-content div.blog-title .blog-intro p {
    font-weight: 500;
  }
  div.container.blog#first-content div.blog-title .blog-cover {
    padding: 3vh 0;
  }
  div.container.blog.first {
    margin-top: 3vh;
  }
  div.container.blog.main {
    padding: 1.5vh 20vw;
  }
  div.container.blog.main.comment {
    padding-left: 20vw;
    padding-right: 0vw;
    display: grid;
    grid-template-columns: 60vw 18vw;
  }
  div.container.blog.main.comment .content-comment {
    display: none;
  }
  div.container.blog.large {
    padding: 1.5vh 15vw;
  }
  div.container.blog.extra-large {
    padding: 1.5vh 8.5vw;
  }
}
@media screen and (min-width: 1200px) {
  div.container.blog#first-content div.blog-title {
    grid-template-columns: 1fr 1fr;
    grid-row: 75vh;
    -moz-column-gap: 4vw;
         column-gap: 4vw;
  }
  div.container.blog#first-content div.blog-title .blog-intro {
    padding: 5vh 0;
  }
  div.container.blog#first-content div.blog-title .blog-intro p {
    padding: 1.5vh 0;
  }
  div.container.blog#first-content div.blog-title .blog-cover {
    padding: 5vh 0;
  }
  div.container.blog.first {
    margin-top: 4vh;
  }
  div.container.blog.main {
    padding: 2vh 20vw;
  }
  div.container.blog.main.comment {
    padding-left: 20vw;
    padding-right: 0vw;
    display: grid;
    grid-template-columns: 60vw 18vw;
  }
  div.container.blog.main.comment .content-comment {
    display: block;
  }
  div.container.blog.large {
    padding: 2vh 15vw;
  }
  div.container.blog.extra-large {
    padding: 2vh 8.5vw;
  }
}
@media screen and (min-width: 1600px) {
  div.container.blog#first-content div.blog-title {
    grid-template-columns: 1fr 1fr;
    grid-row: 75vh;
    -moz-column-gap: 4vw;
         column-gap: 4vw;
  }
  div.container.blog#first-content div.blog-title .blog-intro {
    padding: 5vh 0;
  }
  div.container.blog#first-content div.blog-title .blog-intro p {
    padding: 1.5vh 0;
  }
  div.container.blog#first-content div.blog-title .blog-cover {
    padding: 5vh 0;
  }
  div.container.blog.first {
    margin-top: 5vh;
  }
  div.container.blog.main {
    padding: 2vh 25vw;
  }
  div.container.blog.main.comment {
    padding-left: 25vw;
    padding-right: 0vw;
    display: grid;
    grid-template-columns: 50vw 23vw;
  }
  div.container.blog.large {
    padding: 2vh 20vw;
  }
  div.container.blog.extra-large {
    padding: 2vh 10vw;
  }
}
@media screen and (min-width: 1900px) {
  div.container.blog#first-content div.blog-title {
    grid-template-columns: 1fr 1fr;
    grid-row: 65vh;
    -moz-column-gap: 10vw;
         column-gap: 10vw;
  }
  div.container.blog#first-content div.blog-title .blog-intro {
    padding: 5vh 0;
  }
  div.container.blog#first-content div.blog-title .blog-intro p {
    padding: 1.5vh 0;
  }
  div.container.blog#first-content div.blog-title .blog-cover {
    padding: 5vh 0;
  }
  div.container.blog.first {
    margin-top: 5vh;
  }
  div.container.blog.main {
    padding: 2vh 25vw;
  }
  div.container.blog.main.comment {
    padding-left: 25vw;
    padding-right: 0vw;
    display: grid;
    grid-template-columns: 50vw 23vw;
  }
  div.container.blog.large {
    padding: 2vh 20vw;
  }
  div.container.blog.extra-large {
    padding: 2vh 10vw;
  }
}
@media screen and (min-width: 3000px) {
  div.container.blog#first-content div.blog-title {
    grid-template-columns: 1fr 1fr;
    grid-row: 75vh;
    -moz-column-gap: 5vw;
         column-gap: 5vw;
  }
  div.container.blog#first-content div.blog-title .blog-intro {
    padding: 5vh 0;
  }
  div.container.blog#first-content div.blog-title .blog-intro p {
    padding: 1.5vh 0;
  }
  div.container.blog#first-content div.blog-title .blog-cover {
    padding: 5vh 0;
  }
  div.container.blog.first {
    margin-top: 5vh;
  }
  div.container.blog.main {
    padding: 2vh 30vw;
  }
  div.container.blog.main.comment {
    padding-left: 30vw;
    padding-right: 0vw;
    display: grid;
    grid-template-columns: 50vw 23vw;
  }
  div.container.blog.large {
    padding: 2vh 20vw;
  }
  div.container.blog.extra-large {
    padding: 2vh 10vw;
  }
}
/* ======================== Button ===================== */
input[type=submit], input[type=reset], input[type=button],
button, .button {
  background-color: #ececec;
  border-radius: 10px;
  padding: 0.75em 1em;
  color: #353535;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  font-weight: 700;
  font-family: "Athletics", sans-serif;
  letter-spacing: 0.075em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover,
button:hover, .button:hover {
  background-color: #ececec;
  opacity: 0.8;
  color: #353535;
}
input[type=submit]:active, input[type=reset]:active, input[type=button]:active,
button:active, .button:active {
  opacity: 0.5;
  background-color: #ececec;
  color: #353535;
}
input[type=submit].icon i, input[type=reset].icon i, input[type=button].icon i,
button.icon i, .button.icon i {
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-bottom: 1px;
}
input[type=submit].project, input[type=reset].project, input[type=button].project,
button.project, .button.project {
  text-transform: none;
  letter-spacing: 0;
  font-weight: 600;
  height: 0.75em;
  padding: 0.6em;
  font-size: 1em;
  color: #353535;
}
input[type=submit].project.white, input[type=reset].project.white, input[type=button].project.white,
button.project.white, .button.project.white {
  color: #f4f3ef;
}

@media screen and (max-width: 992px) {
  input[type=submit], input[type=reset], input[type=button],
  button, .button {
    font-size: 0.6em;
  }
  input[type=submit].icon i, input[type=reset].icon i, input[type=button].icon i,
  button.icon i, .button.icon i {
    font-size: 1.2em;
  }
}
/* ======================== Slide Menu ===================== */
.slide-menu {
  display: table;
  margin: 0 auto;
  padding-bottom: 2vh;
}
.slide-menu .dots {
  margin-bottom: -10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slide-menu .dots .dot {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  background-color: #c6c6c6;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 15px;
  transition: all 0.2s ease-in-out;
}
.slide-menu .dots .dot:after {
  content: "";
  position: absolute;
  left: -15px;
  top: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.slide-menu .dots .dot:hover {
  transform: scale(1.4);
}
.slide-menu .dots .dot.active {
  background-color: #E2a3a3;
  transform: scale(1.4);
}

/* ======================== Table ===================== */
.table-wrapper {
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.table-wrapper::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

table {
  margin: 0.5vh 0;
  width: 100%;
  font-family: "Athletics", sans-serif;
}
table a {
  font-size: inherit;
}
table th, table td {
  font-size: 85%;
}
table th b, table td b {
  font-weight: 900;
}
table thead {
  font-weight: 700;
}
table tbody tr {
  border: solid 1px #404041;
  border-left: 0;
  border-right: 0;
}
table tbody tr:nth-child(2n+1) {
  background-color: #ececec;
}
table tbody tr:first-child {
  border-top: solid 2px white;
}
table tbody tr:last-child {
  border-bottom: solid 2px white;
}
table tbody tr td.gray {
  background-color: #ececec !important;
}
table tbody tr td.nogray {
  background-color: #f6f6f6 !important;
}
table tbody.center td {
  text-align: center;
}
table thead.center th {
  text-align: center;
}
table td {
  color: #353535;
  padding: 0.5em 0.5em;
}
table th {
  color: #666667;
  padding: 0 0.5em 0.25em 0.5em;
  text-align: left;
}
table tfoot {
  border-top: solid 2px white;
}
table.alt {
  border-collapse: separate;
}
table.alt tbody tr td {
  border: solid 1px white;
  border-left-width: 0;
  border-top-width: 0;
}
table.alt tbody tr td:first-child {
  border-left-width: 1px;
}
table.alt tbody tr:first-child td {
  border-top-width: 1px;
}
table.alt thead {
  border-bottom: 0;
}
table.alt tfoot {
  border-top: 0;
}

/* ======================== Code ===================== */
code {
  background-color: rgba(230, 235, 237, 0.25);
  border-radius: 10px;
  border: solid 1px #c6c6c6;
  font-family: "Fira Code", monospace;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
  color: #666667;
  font-size: 75%;
}

pre {
  font-family: "Fira Code", monospace;
}

pre code {
  background-color: #fafafa !important;
  display: block;
  padding: 1.5vh 1.5vw !important;
  overflow-x: auto;
}

/* ======================== Selection ===================== */
select {
  border-color: transparent;
  border-radius: 5px;
  padding: 5px 3px;
  background-color: #ececec;
  display: inline;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  border: 0;
  outline: none;
  margin: inherit;
  height: 30px;
  text-underline-offset: 1px;
  width: inherit;
}
select option {
  white-space: nowrap;
  overflow: hidden;
}
select:hover {
  cursor: pointer;
}
select:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 3px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333;
}

/* ======================== Video Control ===================== */
.video-control {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  gap: 10px;
}

.video-caption {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.video-caption .video-speed {
  opacity: 0;
}
.video-caption .video-speed.fade-in-out {
  animation: fadeInOut 1.4s linear forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=shikun.css.map */